body {
    background-attachment: fixed; 
    font-family: arial, sans-serif;
    background-image: linear-gradient(180deg, blue, white);
    }

    span{
        color: red;
        font-size: 10px;
        display: flex;
    }

    .conteiner{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    p{
        display: flex;
        font-family: 'Courier New', Courier, monospace;
        padding-top: 10px;
        font-size: larger; 
        font-weight: bold;
    }
    .p2{
        font-size: xx-large;
    }
    .av{
        padding-top: 15px;
    }
    .logo300{
        max-width: 100%;
        height: 170px;
        margin: 5px;
    }
    .logofinal{
        max-width: 100%;
        height: 200px;
    }
    .maindiv {
    padding: 8px;
    position: relative;
    width: 80%;
    height: 90%;
    background-color: #f8f8f8;
    margin: 145px auto 200px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 3px 0.3px rgba(0,0,0,.3);
    word-wrap: break-word;
    text-align: center;
    display: flex;
    }


    .buttonsub {
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin-top: 20px;
    background-color: blue;
    }
    
    .rowedit{
        margin: 20px;
    }
    